src/main/resources/Schemas/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://avenuecode.com/challenge/integration/types/Employee"
	xmlns:tns="http://avenuecode.com/challenge/integration/types/Employee"
	elementFormDefault="qualified">

	<complexType name="Employee">
		<sequence>
			<element name="id" type="int" minOccurs="0" />
			<element name="firstName" type="string" />
			<element name="lastName" type="string" />
			<element name="salary" type="decimal" />
		</sequence>
	</complexType>

</schema>